@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.banner {
    width: 100vw;
    height: 8vh;
    background-color: #35475F;

    display: flex;

}

/* for title and Logo */

.title {
    width: 40vw;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.title h1 {
    color: #FFFFFF;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* for navigation bar */

.navbar {
    width: 50vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    padding-left: 30px;
}

.navbar ul li a{
    font-weight: 900;
    color: white;
    text-decoration: none;


    padding: 10px;
    letter-spacing: 1px;
    
}

.navbar ul li a:hover{
    color: black;
}


