@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

.container {
    position: fixed;
    left: 45vw;


    width: 50vw;
    height: 10vh;


}

.insidecontainer {
    display: flex;
}

.searchbar {
    width: 30vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;    
}

.searchbar input {
    width: 70%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    letter-spacing: 1.5px;
    font-weight: 700;
}

.categorybar {
    width: 20vw;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.categorybar select {
    width: 60%;
    padding: 10px;
    border-radius: 20px;
}